receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
  otlp/weaver:
    protocols:
      grpc:
        endpoint: 0.0.0.0:5317

processors:
  filter/weaver-findings:
    logs:
      log_record:
        - 'severity_number < SEVERITY_NUMBER_WARN'
        - 'attributes["weaver.finding.id"] == "not_stable"'
        - 'attributes["weaver.finding.context.attribute_name"] == "exception.escaped"'
        - 'attributes["weaver.finding.context.attribute_name"] == "event.name"'
exporters:
  otlp:
    endpoint: lgtm:4317
    tls:
      insecure: true
  otlp/weaver:
    endpoint: weaver:4317
    compression: none # TODO: support gzip compression in weaver
    tls:
      insecure: true

service:
  pipelines:
    traces:
      receivers: [otlp]
      exporters: [otlp, otlp/weaver]
    metrics:
      receivers: [otlp]
      exporters: [otlp, otlp/weaver]
    logs:
      receivers: [otlp]
      exporters: [otlp, otlp/weaver]
    logs/weaver-findings:
      receivers: [otlp/weaver]
      processors: [filter/weaver-findings]
      exporters: [otlp]
